<%= render 'head' %>
<%= render 'top' %>

<h1><%= item.attributes[:title] %></h1>
<p class="subtitle"><%= item.attributes[:description] %></p>
<img src="<%= item.attributes[:image]%>"/>

<% images = item.attributes[:images] %>
<h1 class="more-proj">More About This Project</h1>
<div id="more-proj-content" class="group">
	<div id="toc"></div>
	<div class="case-study">
	<%= yield %>
	</div>
</div>
<%= render 'bottom' %>