<%= render 'head' %>
<%= render 'top' %>

<div class="lead">
	<div class="item-meta">
		<h1><%= item.attributes[:title] %></h1>
		<p class="subtitle"><%= item.attributes[:description] %></p>
		<% if (item.attributes[:code] || item.attributes[:link]) %>
			<div class="project-links">
				<% if (item.attributes[:link]) %>
					<a href="<%= item.attributes[:link] %>">See It Live</a>
				<% end %>
				<% if (item.attributes[:code]) %>
					<a href="<%= item.attributes[:code] %>">Read the Code</a>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="image">
		<img src="<%= item.attributes[:image]%>"/>
	</div>
</div>

<div id="more-proj-content" class="group">
	<div id="toc"></div>
	<div class="case-study">
	<%= yield %>
	</div>
</div>

<% if item.attributes[:kind] == 'portfolio' %>
	<%= previous_link %>
	<%= next_link %>
<% end %>

<%= render 'bottom' %>